head
	title Node Game
	script(type="text/javascript", src="/libraries/node.js")
	script(type="text/javascript", src="/libraries/easystar.js")
	script(type="text/javascript", src="/libraries/instance.js")
	script(type="text/javascript", src="/libraries/priorityqueue.js")

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/js/requestAnimFrame.js")
	script(type="text/javascript", src="/js/model.js")
	script(type="text/javascript", src="/js/event.js")
	script(type="text/javascript", src="/js/addKeyEvent.js")
	script(type="text/javascript", src="/js/vectors.js")
	script(type="text/javascript", src="/js/movableComponent.js")
	script(type="text/javascript", src="/js/renderComponent.js")
	script(type="text/javascript", src="/js/lifeComponent.js")
	script(type="text/javascript", src="/js/scoreComponent.js")
	script(type="text/javascript", src="/js/boxColliderComponent.js")
	script(type="text/javascript", src="/js/weaponComponent.js")
	script(type="text/javascript", src="/js/nickNameComponent.js")

	script(type="text/javascript", src="/js/connector.js")
	script(type="text/javascript", src="/js/inputManager.js")
	script(type="text/javascript", src="/js/mouse.js")
	script(type="text/javascript", src="/js/player.js")
	script(type="text/javascript", src="/js/bullet.js")
	script(type="text/javascript", src="/js/staticSquare.js")
	script(type="text/javascript", src="/js/slot.js")
	script(type="text/javascript", src="/js/wall.js")

	script(type="text/javascript", src="/js/main.js")
body
	canvas#canvas(width=600 height=400 style='border: 1px solid black; position : absolute;left : calc(50% - 300px);top : calc(50% - 200px);')